*{box-sizing: border-box;}

body
{
    position: relative;
    overflow-x: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: keep-all;
    padding: 0;
    margin: 0;
    height: 100%;
}

#header
{
    padding: 0px 0px 150px 0px; 
    color: white;
    margin-top: -62px;
}
 
#location
{
    display: block;
    margin-top: -100px;
    margin-left: 30px;
    max-width: 250px;
}

#climate
{
    display: block;
    margin-top: -79px;
    margin-left: 370px;
}

#temperature
{
    display: block;
    margin-top: -59px;
    margin-left: 520px;
}

#description
{
    display: block;
    margin-left: 850px;
    margin-top: -170px;
    max-width: 550px;
    font-size: 16px;
}

#aboutNamibia,#aboutWindhoek
{
    padding: 50px 60px 150px 80px; 
    text-align: center;
}

#aboutNamibia p, #aboutWindhoek p
{
   max-width: 600px;
   text-align: justify;
   margin: auto;
}

swiper-container
{
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

swiper-slide
{
    background-position: center;
    background-size: cover;
    max-width: 500px;
    max-height: 300px;
}

swiper-slide img
{
    display: block;
    width: 100%;
}

@media only screen and (max-width:700px) 
{
    #header
    {
        padding-bottom: 180px;
    }

    #headerImg
    {
        display: none;
    }

    #headerImgPhone
    {
        object-fit: cover;
    }

    #location
    {
        max-width: 160px;
        margin-left: 10px;
    }

    #climate
    {
        margin-top: -95px;
        margin-left: 170px;
    }

    #temperature
    {
        margin-left: 270px;
    }

    #description
    {
        margin-left: 20px;
        margin-top: -280px;
        max-width: 390px;
        font-size: 13px;
    }

    #aboutNamibia p
    {
        width: 350px;
        margin-left: -50px;
        font-size: 14px;
    }

    #aboutNamibia
    {
        padding-top: 120px;
    }

    #aboutNamibia h4
    {
        white-space: nowrap;
    }

    swiper-slide
    {
        max-width: 300px;
        max-height: 300px;
    }
}

@media only screen and (min-width:700px) 
{
    #headerImgPhone, #description
    {
        display: none;
    }

    #location
    {
        display: block;
        max-width: 190px;
        margin-left: 10px;
    }

    #climate
    {
        display: block;
        margin-left: 260px;
    }

    #temperature
    {
        display: block;
        margin-left: 420px;
    }
}

@media only screen and (min-width:1000px) 
{
    #location
    {
        display: block;
    }
    #climate
    {
        display: block;
        margin-left: 265px;
    }

    #temperature
    {
        display: block;
        margin-left: 390px;
    }
    #description
    {
        display: block;
        margin-top: -150px;
        margin-left: 570px;
        max-width: 400px;
    }
}

@media only screen and (min-width:1100px) 
{
    #location
    {
        display: block;
    }
    #climate
    {
        display: block;
        margin-left: 265px;
    }

    #temperature
    {
        display: block;
        margin-left: 390px;
    }
    #description
    {
        margin-top: -160px;
        margin-left: 620px;
        max-width: 500px;
    }
}

@media only screen and (min-width:1200px) 
{
    #location
    {
        display: block;
    }
    #climate
    {
        display: block;
        margin-left: 265px;
    }

    #temperature
    {
        display: block;
        margin-left: 390px;
    }
    #description
    {
        margin-top: -170px;
        margin-left: 670px;
        max-width: 520px;
    }
}

@media only screen and (min-width:1300px) 
{
    #location
    {
        display: block;
    }
    #climate
    {
        display: block;
        margin-left: 275px;
    }

    #temperature
    {
        display: block;
        margin-left: 405px;
    }
    #description
    {
        margin-top: -165px;
        margin-left: 780px;
        max-width: 550px;
    }
}